html{
    margin: auto;
    padding: 0px;
    height: 100%;
   }
header{


}
#navbar{
    display: flex;
    justify-content: space-between;
    
    
}
#navbar>.nav-links{
    display: flex;
    float: right;
    }

#navbar>.nav-links> ul> li{
    display: inline-block;
    list-style: none;
    text-align: right;
    position: relative;
    justify-content: space-evenly;
    padding: 10px 30px;
    
    } 
.heading{
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
    color: blueviolet
}
.nav-links  button {
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    background-color: #F19201;
}
.heading h1 {
    
}
.heading button{
    padding: 10px 35px;
    text-decoration: transparent;
}