html{
    margin: auto;
    padding: 0px;
    height: 100%;
   }
header{


}
#navbar{
    display: flex;
    justify-content: space-between;
    
    
}
#navbar>.nav-links{
    display: flex;
    float: right;
    }

#navbar>.nav-links> ul> li{
    display: inline-block;
    list-style: none;
    text-align: right;
    position: relative;
    justify-content: space-evenly;
    padding: 10px 30px;

} 